*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
}